:root {
    --primary-color: #0288d1;
    --primary-color-light: #5eb8ff;
    --primary-color-dark: #005b9f;
    --secondary-color: #43a047;
    --secondary-color-light: #76d275;
    --secondary-color-dark: #00701a;

    --on-primary-color: #ffffff;
    --on-secondary-color: #ffffff;
    --border-color: lightgray;

    --app-title-font: 900 2rem sans-serif;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

#app {
    height: 100vh;
}

input:not([type='submit']) {
    height: 2rem;
}

.primary-button {
    background: var(--primary-color);
    padding: 10px 20px;
    border: 1px solid var(--on-primary-color);
    color: var(--on-primary-color);
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.secondary-button {
    background: var(--secondary-color);
    padding: 10px 20px;
    border: 1px solid var(--on-secondary-color);
    color: var(--on-secondary-color);
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.button-hollow {
    background: transparent;
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.unselectable {
    user-select: none;
}