:root {
    --primary-color: #0288d1;
    --primary-color-light: #5eb8ff;
    --primary-color-dark: #005b9f;
    --secondary-color: #43a047;
    --secondary-color-light: #76d275;
    --secondary-color-dark: #00701a;

    --on-primary-color: #ffffff;
    --on-secondary-color: #ffffff;
    --border-color: lightgray;

    --app-title-font: 900 2rem sans-serif;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

#app {
    height: 100vh;
}

input:not([type='submit']), select {
    height: 2rem;
}

button:hover {
    cursor: pointer;
}

.capsule-button {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
}

.square-button {
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 1rem;
}

.hollow-button {
    background: transparent;
    color: var(--on-primary-color);
    border: 1px solid var(--on-primary-color);
    font-weight: bold;
}

.primary-filled-button {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--on-primary-color);
    font-weight: bold;
    cursor: pointer;
}

.primary-hollow-button {
    background: var(--on-primary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}


.secondary-filled-button {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--on-secondary-color);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.secondary-hollow-button {
    background: var(--on-secondary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.inv-button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link-parent * {
    text-decoration: none;

}

.link-parent:hover {
    cursor: pointer;
}

.link-parent:hover * {
    text-decoration: underline;
    cursor: pointer;
}

.inv-link {
    color: black;
    text-decoration: none;
}

.inv-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.unselectable {
    user-select: none;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3px;
}

.checkbox-label input[type=checkbox] {
    flex: none;
    margin: 0;
}

/*Scrollbar styling*/
/*from: https://css-tricks.com/the-current-state-of-styling-scrollbars-in-css/*/
.styled-scrollbars {
    /* Foreground, Background */
    /*noinspection CssUnknownProperty*/
    scrollbar-color: darkgray whitesmoke;
}

.styled-scrollbars::-webkit-scrollbar {
    width: 10px; /* Mostly for vertical scrollbars */
    height: 10px; /* Mostly for horizontal scrollbars */
}

.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
    background: lightgray;
    border-radius: 5px;
}

.styled-scrollbars::-webkit-scrollbar-thumb:active { /* Foreground */
    background: darkgray;
}

.styled-scrollbars::-webkit-scrollbar-track { /* Background */
    background: whitesmoke;
    border-radius: 5px;
}

.error-input {
    border: none;
    outline: 1px solid red;
    background-color: #FFEEEE;
}

.error-input:focus-visible {
    outline: 1px solid red;
    box-shadow: 0 0 2px 1px red;
}

.error-message {
    color: red;
    min-height: 1lh;
}

svg {
    width: 15px;
    height: 15px;
}

.icon-wrapper {
    display: grid;
    place-items: center;
}

.empty-icon {
    color: lightgrey;
    width: 60px;
    height: 60px;
}