* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--on-background-color);
}

#app {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
}

input:not([type='submit']), select, textarea {
    height: 2rem;
    background-color: var(--background-color);
    color: var(--on-background-color);
    border: 1px solid gray;
    border-radius: 3px;
}

input:disabled, textarea:disabled {
    background-color: var(--disabled-input-background);
}

button:hover {
    cursor: pointer;
}

.capsule-button {
    border-radius: 20px;
}

.big-button {
    font-size: 1rem;
    padding: 10px 20px;
}

.mid-button {
    font-size: 0.9rem;
    padding: 8px 20px;
}

.square-button {
    border-radius: 3px;
}

.hollow-button {
    border-style: solid;
    border-width: 1px;
    background: transparent;
    font-weight: bold;
}

.primary-filled-button {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--on-primary-color);
    font-weight: bold;
    cursor: pointer;
}

.primary-dark-filled-button {
    background: var(--primary-color-dark);
    border: 1px solid var(--primary-color-dark);
    color: var(--on-primary-color);
    font-weight: bold;
    cursor: pointer;
}

.primary-hollow-button {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}


.secondary-filled-button {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--on-secondary-color);
    font-weight: bold;
    cursor: pointer;
}

.secondary-hollow-button {
    background: var(--on-secondary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.danger-button {
    background-color: #CA0B00;
    color: white;
    border: 1px solid #CA0B00;
    font-weight: bold;
    cursor: pointer;
}

.icon-text-button {
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
}

.inv-button {
    background: none;
    border: none;
    padding: 0;
}

.inv-button:hover {
    cursor: pointer;
}

.inv-checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link-parent * {
    text-decoration: none;
}

.link-parent:hover {
    cursor: pointer;
}

.link-parent:hover * {
    text-decoration: underline;
    cursor: pointer;
}

.inv-link {
    color: var(--on-background-color);
    text-decoration: none;
}

.inv-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.unselectable {
    user-select: none;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3px;
}

.checkbox-label input[type=checkbox] {
    flex: none;
    margin: 0;
}

/*Scrollbar styling*/
/*from: https://css-tricks.com/the-current-state-of-styling-scrollbars-in-css/*/
/*update: see https://stackoverflow.com/a/77931548*/
@supports not selector(::-webkit-scrollbar) {
    .styled-scrollbars {
        /* Foreground, Background */
        scrollbar-color: var(--scrollbar-thumb-selected) var(--scrollbar-background);
    }
}

.styled-scrollbars::-webkit-scrollbar {
    width: 10px; /* Mostly for vertical scrollbars */
    height: 10px; /* Mostly for horizontal scrollbars */
}

.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
    background: var(--scrollbar-thumb);
    border-radius: 5px;
}

.styled-scrollbars::-webkit-scrollbar-thumb:active { /* Foreground */
    background: var(--scrollbar-thumb-selected);
}

.styled-scrollbars::-webkit-scrollbar-track { /* Background */
    background: var(--scrollbar-background);
    border-radius: 5px;
}

.error-input {
    border: none;
    outline: 1px solid red;
    background-color: #FFEEEE;
}

.error-input:focus-visible {
    outline: 1px solid red;
    box-shadow: 0 0 2px 1px red;
}

.error-message {
    color: red;
    min-height: 1lh;
}


.warning-message {
    color: #c08900;
    min-height: 1lh;
}


.hidden-text {
    height: 0;
    min-height: 0;
}

svg {
    width: 15px;
    height: 15px;
}

.icon-wrapper {
    display: grid;
    place-items: center;
}

.empty-icon {
    color: lightgrey;
    width: 60px;
    height: 60px;
}

.dropdown-list {

}

.dropdown-list li {
    background-color: var(--background-color);
    border-radius: 3px;
}

.dropdown-list li a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.5rem;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0.5rem;
    width: 100%;
    height: 100%;
    color: var(--on-background-color);
    font-family: sans-serif;
    font-size: 0.9rem;
}

.dropdown-list li a :only-child {
    margin: auto;
}

.dropdown-list li:hover {
    cursor: pointer;
    background-color: var(--tab-highlight-color);
}

.dropdown-list a:hover {
    text-decoration: none;
}


.image-icon {
    width: 15px;
    height: 15px;
}

.invisible {
    opacity: 0;
}

.main-page-base-card {
    width: 85vw;
    max-width: 1300px;
}
